
// $title: #363838;
// $default: #5A5A5A; 

// %title-font{
//   font-weight: 700;
//   font-family: 'Montserrat', sans-serif;
// }
%font-family-titles{
  font-family: 'Lato', sans-serif;
}

%font-family-narrows{
  font-family: 'Quicksand', sans-serif;
}

%font-family-footer{
  font-family: droid-sans, sans-serif;

}

%font-family2{
}

%font-family2{
  
}